@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root {
    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Caveat", cursive;

}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 99vh;
    background-color: rgb(249, 245, 239);
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 10vw;
    padding-top: 50px;
}

header > p {
    padding-bottom: 50px;
}


header a, footer a { 
    color: white;
    font-weight: bolder;
    text-decoration: none;
    
}

header a:hover, footer a:hover {
   text-decoration: underline; 
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
    line-height: 1.5em;

}

section > p {
    padding-bottom: 1em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(53, 52, 52);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.466);
    background-size: cover;
    background-attachment: fixed;

}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.358);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url('imagens/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('imagens/background002.jpg');
    background-position: right center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 10px;

}